{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

<div class="col-lg-12">
    <div class="form-group">
        {{ form_row(form.username,{'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="col-lg-12">
    <div class="form-group">
        {{ form_row(form.email,{'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="col-lg-12">
    <div class="form-group">
        {{ form_row(form.current_password,{'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="col-lg-12">
    <div class="form-group">
        <input class="btn btn-info" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
    </div>
</div>

{{ form_end(form) }}
