{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

<div class="col-lg-12">
    <div class="form-group">
        {{ form_row(form.current_password,{'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="col-lg-12">
    <div class="form-group">
        {{ form_row(form.plainPassword.first,{'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="col-lg-12">
    <div class="form-group">
        {{ form_row(form.plainPassword.second,{'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="col-lg-12">
    <div class="form-group">
        <input class="btn btn-info" type="submit" value="{{ 'change_password.submit'|trans }}"/>
    </div>
</div>

{{ form_end(form) }}
